body {
  background-image: linear-gradient(to bottom right, #026294, whitesmoke);
}
.mainSection {
  padding: 60px;
  margin: 30px 100px 10px 100px;
}

#form-section {
  background-color: #026294;
  border-radius: 20px 20px 0px 0px;
  color: whitesmoke;
  padding: 20px;
}

.inputBox {
  border: 2px solid #026294;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 3px;
  width: 35%;
}

#enter-button {
  background-color: #b3e3f2;
  border: 2px solid #026294;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 6px 3px;
  width: 10%;
}

#current-location {
  background-color: #b3e3f2;
  border: 2px solid #026294;
  border-radius: 20px;
  padding: 6px 3px;
  width: 20%;
}

.col-2 {
  background-color: #026294;
  line-height: 300px;
}

.col-10 {
  background-color: #026294;
  color: whitesmoke;
  padding: 20px 0px 20px 0px;
  text-align: left;
}

#city {
  font-size: 60px;
}

#description {
  text-transform: capitalize;
}

#current-temp {
  font-size: 55px;
}

.units {
  color: whitesmoke;
  font-size: 30px;
  text-decoration: none;
}

ul {
  list-style: none;
}

#info {
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  border: 5px solid #026294;
  border-radius: 0px 0px 20px 20px;
  color: #026294;
}

.col p {
  font-size: 25px;
  margin: 0;
}

.col h3 {
  padding-top: 20px;
}

col img {
  margin-right: 10px;
}

.gitHub {
  text-align: center;
}
